.body-i{
    height: 100%;
    width: 100%;
    background-image: url(../Img/backgroundmain.jpg);
    background-size: cover;
    background-attachment: fixed;
    .imgFondo{
        background-size: cover;
        display: flex;
        flex-flow: column;
        justify-content: center;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        margin-bottom: 80px;
        border-radius: 20px;
        box-shadow: 1px 1px 5px black, -1px -1px 5px black;
    
    }
    .encabezado{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        padding-left: 15px;
        font-size: xx-large;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 5px black, -1px -1px 5px black;
    
    }
}