@import 'utilities/variables';

%imgbanner {
    background-size: cover;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
}

%carrousel {
    background-size: cover;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

%text {
    max-width: 30rem;
    display: inline-block;
    font-size: x-large;
    font-weight: 300;
    margin-bottom: 70px;
    color: $color-text;
    padding-left: 10px;
    text-shadow: $shadow;
}
