.bodyContactanos {
	background: url(../Img/fondoC.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.contenido {
	.form {
		background: rgba(0, 0, 0, 0.6);
		width: 90%;
		max-width: 650px;
		margin: auto;
		padding: 5px 35px;
		margin-top: 30px;
		padding-bottom: 30px;
		border-radius: 20px;
		.form-header {
			.form-titulo {
				font-weight: normal;
				font-family: 'Oswald', sans-serif;
				color: white;
				text-align: center;
			}
		}
		.form-input,
		.form-textarea {
			background: rgba(0, 0, 0, 0.7);
			border: none;
			outline: none;
			border-bottom: 2px solid lightgray;
			width: 100%;
			padding: 12px;
			margin-bottom: 30px;
			border-radius: 2px;
			font-size: 14px;
			color: #fff;
		}

		.form-label {
			color: white;
			display: block;
		}

		.boton-submit {
			width: 100%;
			font-family: 'Oswald', sans-serif;
			font-size: 15px;
			outline: none;
			padding: 15px 0;
			background: lightblue;
			cursor: pointer;
			border-radius: 30px;
			transition: all 1.5s ease;
			&:hover {
				background: rgba(7, 114, 124, 0.662);
				animation: pulse;
				animation-duration: 1s;
			}
		}
	}
}
