.body-i {
	background: url(../../Img/fondocatalogo.jpg);
	background-size: cover;
	background-attachment: fixed;
	
	.carousel-item {
		background-size: cover;
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		margin-bottom: 10px;
	}
	.banner {
		img {
			background-size: cover;
			box-sizing: border-box;
			height: 100%;
			width: 100%;
			margin-bottom: 50px;
		}
	}

	.encabezado {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		padding-left: 15px;
		font-size: xx-large;
		color: rgb(255, 255, 255);
		text-shadow: 1px 1px 5px black;
	}
}
