@import 'utilities/extend';
@import 'utilities/variables';

.body-i {
	background: url(../../Img/fondocatalogo.jpg);
	background-size: cover;
	background-attachment: fixed;

	.carousel-item {
		@extend %carrousel;
	}
	.banner {
		img {
			@extend %imgbanner;
		}
	}

	.encabezado {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		padding-left: 15px;
		font-size: xx-large;
		color: rgb(255, 255, 255);
		text-shadow: $shadow;
	}
}
