.bodyFaq {
	text-shadow: 1px 1px 3px black;
	font-family: 'Oswald', sans-serif;
	background-image: url(../../Img/fondocatalogo.jpg);
	background-size: cover;
	background-attachment: fixed;

	.faqTitle {
		color: rgb(0, 0, 0);
		margin-left: 60px;
		font-size: 3rem;
	}
}

.mainFaq {
	color: rgb(255, 255, 255);
	.secFaq {
		.faq {
			margin-left: 15px;
			.listaFaq {
				list-style-type: disc;
				margin-left: 30px;
				font-size: 1.5rem;
			}
		}
		.faqParrafo {
			margin-left: 30px;
			font-size: 1.6rem;
		}

		.form-input,
		.form-textarea {
			background: rgba(0, 0, 0, 0.7);
			border: none;
			outline: none;
			border-bottom: 2px solid lightgray;
			width: 50%;
			padding: 12px;
			margin-bottom: 30px;
			border-radius: 2px;
			font-size: 14px;
			color: #fff;
		}

		.form-label {
			color: white;
			display: none;
		}

		.boton-submit {
			width: 70%;
			font-family: 'Oswald', sans-serif;
			font-size: 15px;
			outline: none;
			padding: 15px 0;
			background: lightblue;
			cursor: pointer;
			border-radius: 30px;
			transition: all 1.5s ease;
			&:hover {
				background: rgba(7, 114, 124, 0.662);
				animation: pulse;
				animation-duration: 1s;
			}
		}
	}
}
