@import 'utilities/variables';

footer {
	width: 100%;
	background-color: rgb(0, 0, 0);
	.caja-1 {
		width: 100%;
		background-color: $color-footer;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
		padding: 45px 0px;

		.caja {
			figure {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 250px;
					height: 250px;
					border-radius: 1.5rem;
					&:hover {
						animation: flip;
						animation-duration: 1s;
					}
				}
			}
		}
		.caja {
			h3 {
				color: $color-text;
				margin-bottom: 25px;
				font-size: 25px;
				text-align: center;
				text-shadow: black 0.1em 0.1em 0.2em;
			}
			p {
				color: $color-p;
				margin-bottom: 10px;
				text-align: center;
				text-shadow: 1px 1px 5px black;
				font-size: 20px;
			}
		}
		.caja {
			.red-social {
				display: flex;
				justify-content: center;
				a {
					display: inline-block;
					text-decoration: none;
					width: 45px;
					height: 45px;
					line-height: 45px;
					color: white;
					margin-right: 10px;
					background-color: #070d13;
					text-align: center;
					transition: all 300ms ease;
					border-radius: 10px;
					&:hover {
						color: #0f5bd6;
						animation: fadeIn;
						animation-duration: 1s;
					}
				}
			}
		}
	}

	.caja-2 {
		background-color: #0a141d;
		padding: 15px 10px;
		text-align: center;
		color: white;
		box-sizing: border-box;
		small {
			font-size: 20px;
			text-shadow: black 0.1em 0.1em 0.2em;
		}
	}
}
