@import 'utilities/mapas';

@media only screen and (min-width: 320px) and (max-width: 426px) {
	header {
		padding-bottom: 3.5rem;
	}

	footer {
		width: 100%;
		background-color: rgb(0, 0, 0);
		.caja-1 {
			width: 100%;
			background-color: #0a141d;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 30px;
			padding: 35px 0px;

			.caja {
				.red-social {
					display: flex;
					justify-content: center;
				}
				img {
					width: 10rem;
					height: 15rem;
				}
			}
		}
	}

	.contenedorHome {
		display: flex;
		flex-direction: column;
		div {
			p {
				max-width: 30rem;
				display: inline-block;
				font-size: large;
				font-weight: 300;
				margin-bottom: 70px;
				text-shadow: map-get($map: $standard, $key: border-standard);
				color: $color-text;
				padding-left: 10px;
				text-shadow: 1px 1px 5px black;
			}
		}

		img {
			height: 250px;
			width: 300px;
			border-radius: 1.5rem;
			box-shadow: 1px 1px 5px black;
		}
	}

	.mainNosotros {
		.titleNosotros {
			font-size: 1.8rem;
		}
		.contenedorNosotros {
			.box {
				display: flex;
				flex-direction: column;

				.rightText {
					max-width: 30rem;
					display: inline-block;
					font-size: 1.2rem;
					margin-left: 0;
					margin-bottom: 50px;

					color: $color-text;
					padding-left: 10px;
					text-shadow: 1px 1px 5px black;
				}

				.leftText {
					max-width: 30rem;
					display: inline-block;
					font-size: 1.2rem;
					margin-left: 0;
					margin-bottom: 50px;

					color: $color-text;
					padding-left: 10px;
					text-shadow: 1px 1px 5px black;
				}

				.rightText2 {
					max-width: 30rem;
					display: inline-block;
					font-size: 1.2rem;
					margin-left: 0;
					margin-bottom: 50px;

					color: $color-text;
					padding-left: 10px;
					text-shadow: 1px 1px 5px black;
				}

				.leftImg {
					height: 200px;
					width: 300px;

				}
				.rightImg{
					height: 200px;
					width: 300px;
				}

				.rightImg2{
					height: 200px;
					width: 300px;
				}
				.leftImg2 {
					height: 200px;
					width: 300px;

				}

			}
		}
	}

	.bodyCatalogo {
		.gridCard {
			grid-template-columns: repeat(1, 1fr);
			align-items: center;
		}

		.tituloC {
			.title {
				font-size: 1.8rem;
			}
		}

		.rellenoC {
			.relleno {
				font-size: 1.1rem;
				padding-left: 10px;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.bodyCatalogo {
		.gridCard {
			padding-left: 15px;
		}
	}

	.contenedorHome {
		img {
			height: 320px;
			width: 370px;
		}
	}

	.bodyNosotros {
		main {
			.contenedorNosotros {
				.box {
					img {
						height: 320px;
						width: 370px;
					}

					.rightText {
						font-size: 1.3rem;
						margin-left: 0;
					}

					.leftText {
						font-size: 1.3rem;
						margin-left: 0;
					}

					.rightText2 {
						font-size: 1.3rem;
						margin-left: 0;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.contenedorHome {
		div {
			p {
				font-size: 1.2rem;
			}
		}
		img {
			height: 250px;
			width: 300px;
		}
	}


	.mainNosotros {

		.contenedorNosotros {
			.box {
				display: flex;
				flex-direction: column;
			}
		}
	}
}
